{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}
{{ block.super }}
<div>
{% trans "Подключение" %}
</div>
{% endblock %}

{% block content %}
<form method="post" action="" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <div class="col-sm-2 control-label">
                {{ field.label_tag }}
            </div>
            <div class="col-sm-10">
                {% if field.errors %}
                    <ul  class="errorlist">
                    {% for error in field.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                <span class="helptext">{{ field.help_text|safe }}</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>
</form>

<p>{% trans "Не зарегистрированы?" %} <a href="{% url 'registration_register' %}">{% trans "Зарегистрироваться" %}</a>.</p>
{% endblock %}
