[v-cloak] {
    display: none;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 900px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.countdown-timer {
    padding: 0;
    margin: 0;
}

.countdown-timer li {
    display: inline-block;
    margin: 0 8px;
    text-align: center;
    position: relative;
}
.countdown-timer li p {
    margin: 0;
}
.countdown-timer li:after {
    content: ":";
    position: absolute;
    top: 0;
    right: -13px;
    font-size: 32px;
}
.countdown-timer li:first-of-type {
    margin-left: 0;
}
.countdown-timer li:last-of-type {
    margin-right: 0;
}
.countdown-timer li:last-of-type:after {
    content: "";
}
.countdown-timer .digit {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 0;
}
.countdown-timer .text {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 10px;
}
.vote-counter .digit {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 0;
}