{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'css/polling/polling.css' %}">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'channels/js/websocketbridge.js' %}"></script>
{% endblock%}

{% block content %}
{% verbatim %}
<div class="container-fluid">
<div id="eventpoll" v-cloak>
    <template v-if=" !activePolling ">
        <button id="show-new-polling" @click="showNewPolling = true" class="btn btn-primary btn-lg">
            Создать голосование
        </button>
        <new-polling v-if="showNewPolling" @close="showNewPolling = false" v-on:newpolling="createPolling">
        </new-polling>
    </template>
    <template v-else>
        <div>
            <h4>{{ activePolling.name }}</h4>
            <p>{{ activePolling.description }} </p>
            <p>{{ activePolling.first_phase_duration }}</p>
            <p>{{ activePolling.second_phase_duration }}</p>
            <p>{{ startTime }}</p>
        </div>
        <div>
            <button class="btn btn-primary" v-on:click="restartPolling" title="Restart the polling">Начать голосование заново!</button>
            <button class="btn btn-primary" v-on:click="terminatePolling" title="Terminate the polling">Аварийно завершить голосование!</button>
        </div>
        <template v-if=" isFirstPhase ">
            <div>
                <div class="vote-counter">
                    <h4> Проголосовало пользователей </h4>
                    <p class="digit">{{ votedUsersCounter }}</p>
                </div>
                <countdown-timer v-bind="firstPhaseTimer" class="col-sm-4">
                </countdown-timer>
                <countdown-timer v-bind="finishTimer" class="col-sm-4">
                </countdown-timer>
            </div>
            <event-list>
            </event-list>
        </template>
        <template v-else>
            <!--second phase-->
            <countdown-timer v-bind="finishTimer">
            </countdown-timer>
            <vote-chart>
            </vote-chart>
            <polling-result>
            </polling-result>
            <participants>
            </participants>
        </template>
    </template>
    <polling-list>
    </polling-list>
</div>

{% endverbatim %}
{% endblock %}

{% block body_script %}
{{ block.super }}

{% verbatim %}
<script type="text/x-template" id="new-polling">
    <transition name="new-polling">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-header">
                         <h3>Новое голосование</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" v-on:submit.prevent>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="id_name">Название</label>
                                    <div class="col-sm-10">
                                        <input v-model="name" id="id_name" class="form-control" name="name" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="id_description">Описание</label>
                                    <div class="col-sm-10">
                                        <textarea v-model="description" class="form-control" name="description" id="id_description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="id_first_phase_duration">Продолжительность первой фазы (минут)</label>
                                    <div class="col-sm-7">
                                        <input v-model="firstPhaseDuration" class="form-control" name="first_phase_duration" type="number" min="1" value="1" id="id_first_phase_duration">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label" for="id_second_phase_duration">Продолжительность второй фазы (минут)</label>
                                    <div class="col-sm-7">
                                        <input v-model="secondPhaseDuration" class="form-control" name="second_phase_duration" type="number" min="1" value="1" id="id_second_phase_duration">
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-primary" v-on:click="createNewPolling" title="Create a polling">Создать голосование</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="modal-default-button" @click="$emit('close')">
                            Закрыть
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>

<script type="text/x-template" id="polling-list">
</script>

<script type="text/x-template" id="countdown-timer">
    <div class="countdown-timer">
        <h4> {{ timerTitle }} </h4>
        <ul>
            <li>
                <p class="digit">{{ hours | twoDigits }}</p>
                <p class="text">часов</p>
            </li>
            <li>
                <p class="digit">{{ minutes | twoDigits }}</p>
                <p class="text">минут</p>
            </li>
            <li>
                <p class="digit">{{ seconds | twoDigits }}</p>
                <p class="text">секунд</p>
            </li>
        </ul>
    </div>
</script>

<script type="text/x-template" id="event-list">
    <div class="event-list">


    </div>
</script>

<script type="text/x-template" id="vote-chart">
</script>

<script type="text/x-template" id="participants">

</script>

    {% endverbatim %}

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--<script src="{% static 'js/vue.js' %}"></script>-->
<!--<script src="{% static 'js/axios.min.js' %}"></script>-->
<script src="{% static 'js/js.cookie.js' %}"></script>
<script src="{% static 'js/polling/polling.js' %}"></script>

{% endblock %}