{% extends "base.html" %}


{% block title %}
<div id="polling_title">
    <div class="jumbotron">
    <h2>
        403 Доступ запрещен!
    </h2>
    </div>
</div>
{% endblock %}

{% block header_text %}403 Forbidden!{% endblock %}

{% block content %}
{% endblock %}
