{% extends "base.html" %}


{% block title %}
<div id="polling_title">
    <div class="jumbotron">
    <h2>
        404 Страница не найдена!
    </h2>
    </div>
</div>
{% endblock %}

{% block header_text %}404 Not Found{% endblock %}

{% block content %}
{% endblock %}
