{% extends "base.html" %}

{% block title %}
<div id="polling_title">
    <div class="jumbotron">
    <h2>
        Ошибка на сервере! (500)
    </h2>
    </div>
</div>
{% endblock %}

{% block header_text %}Server Error{% endblock %}

{% block content %}
    На сервере произошла ошибка.<br>
{% endblock %}
