{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="language" content="ru">
    <meta name="ROBOTS" content="ALL">
    <meta name="description" content="{% block page_description %} {% endblock %}">
    <meta name="keywords" content="{% block page_keywords %} {% endblock %}">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{% block head_title %}{% trans "EVENT POLLING" %}{% endblock %}</title>
    <link rel="icon" type="image/gif" href="{% static 'img/favicon.gif' %}">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/eventpoll.css' %}">
    {% block stylesheets %}
    {% endblock %}
    {% block scripts %}
    {% endblock%}
</head>

<body>
    {% block navbar %}
    <nav class="header navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" title="Main page">
                    <img src="{% static 'img/favicon.gif' %}" alt="event-polling"/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="nav_toggable">
                {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li>
                    </li>
                </ul>
                {% endif %}
                <ul class="nav navbar-nav pull-right">
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{  request.user.get_full_name|default:request.user.username }}
                        <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a role="menuitem" href="{% url 'auth_logout' %}">{% trans "Log out"%}</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'auth_login' %}" ><i class="fa fa-fw fa-sign-in"></i>{% trans "Log in" %}</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    <div class="container-fluid">
        <div class="row" id="messages">
            <div class="col-md-12">
               {% block messages %}
               {% if messages %}
                <div class="row">
                  {% for message in messages %}
                      <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
                  {% endfor %}
                </div>
               {% endif %}
                {% endblock %}
            </div>
        </div>


        <div class="row" id="title">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>
                        {% block title %}
                        {% trans "Система голосования для выбора мероприятий"%}
                        {% endblock %}
                    </h3>
                </div>
            </div>
        </div>

        <div class="row" id="content">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>

    <footer class="container-fluid text-center">
    {% block footer %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    &copy; i.g.chernyakov
                </div>
                <div class="col-md-3 text-left">
                </div>
                <div class="col-md-3 text-right">
                    <a href="mailto:i.g.chernyakov@yandex.ru" title="admin">
                        <i class="glyphicon glyphicon-envelope"></i> mail to admin
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
    </footer>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block body_script %}
    {% endblock %}
</body>

</html>                